<!DOCTYPE html>
<html lang="en">
  <head>
    <title>emailSpam - An email spam detection app</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
      <script src="../static/js/profanityfinder.js"></script>
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
{#            <li role="presentation"><a href="/showSignin">Sign In</a></li>#}
            <li role="presentation" class="active"><a href="#">Compose Mail</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Email Spam</h3>
      </div>

      <div class="jumbotron">
        <h1>Email Spam App</h1>
        <form class="form-signin">
        <input type="text" name="inputName" id="mailSubject" class="form-control" placeholder="Subject" required autofocus>
            <textarea id="mailBody" name="comment" form="usrform" style="margin: 0px; width: 406px; height: 217px;" placeholder="Enter mail body"></textarea>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Send</button>
      </form>
      </div>
        <div class="jumbotron">
<p id="type">Mail Categories are: </p>
        </div>
        <footer class="footer">
        <p>&copy;  2016</p>
      </footer>

    </div>
  </body>

<script type="text/javascript">

$(function(){
	$('#btnSignUp').click(function() {
        var text = $("#mailSubject").val();
        //console.log(text);
        var a, b,c;
        a = findprofanity(text);
        //console.log(a);

        b = mail_type_social(text);
        if(b != false) {
            //console.log(b);
            $("#type").append(" SOCIAL");
        }

        c = mail_type_promotion(text);
        console.log(c);
        if(c != false) {
            //console.log(b);
            $("#type").append(" PROMOTION");
        }

        if(b==false && c ==false)
        {
            $("#type").append(" GENERAL");
        }

	});
});

</script>
</html>

